<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon bi bi-flag-fill"></i>
    <p>
      Partidos
      <i class="nav-arrow bi bi-chevron-right"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="{% url 'partidos_lista' %}" class="nav-link">
        <i class="nav-icon bi bi-list-ul"></i>
        <p>Lista</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'nuevo_partido' %}" class="nav-link">
        <i class="nav-icon bi bi-plus-circle"></i>
        <p>Nuevo</p>
      </a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon bi bi-person-badge-fill"></i>
    <p>
      Candidatos
      <i class="nav-arrow bi bi-chevron-right"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="{% url 'candidatos_lista' %}" class="nav-link">
        <i class="nav-icon bi bi-list-ul"></i>
        <p>Lista</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'nuevo_candidato' %}" class="nav-link">
        <i class="nav-icon bi bi-plus-circle"></i>
        <p>Nuevo</p>
      </a>
    </li>
  </ul>
</li>

