
{% extends 'base.html' %}

{% block titulo %}
    Lista de Categorías
{% endblock titulo %}

{% block page_title %}
    Lista de Categorías
{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'bienvenida' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categorías</li>
{% endblock breadcrumb %}

{% block contenido %}
    {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}
    <table width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias%}
                <tr>
                    <td>{{categoria.nombre}}</td>
                    <td>
                        {% if categoria.descripcion %}
                            {{categoria.descripcion}}
                        {% else %}
                            No cuenta con Descripción
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'editar_categoria' categoria.id %}">Editar</a>
                        <a href="{% url 'eliminar_categoria' categoria.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">
                        <p>No existen categorías registradas</p>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock contenido %}

