{% extends 'base.html' %}

{% block titulo %}
    Editar Artículo
{% endblock titulo %}

{% block page_title %}
    Editar Artículo
{% endblock page_title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'bienvenida' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'articulos_lista' %}">Artículos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar Artículo</li>
{% endblock breadcrumb %}

{% block contenido %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {% else %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

<h1>Editar artículo</h1>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div class="mt-4 d-flex justify-content-between">
        <div>
            <input class="btn btn-success" type="submit" value="Guardar">
            <a class="btn btn-danger" href="{% url 'articulos_lista' %}">Regresar</a>
        </div>
        {% if form.instance.pk %}
        <a class="btn btn-outline-info" href="{% url 'gestionar_fotos_articulo' form.instance.id %}">Gestionar fotos</a>
        {% endif %}
    </diV>
</form> 

{% endblock contenido %}