{% extends 'base.html' %}

{% block titulo %}
    Nueva Categoría
{% endblock titulo %}

{% block contenido %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {% else %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
<h1>Nueva Categoría</h1>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Agregar">
    <a href="{% url 'categorias_lista' %}">Regresar</a>
</form> 

{% endblock contenido %}