{% extends 'base.html' %}
{% block contenido %}

{% block title %}
    Lista de Categorías
{% endblock title %}


    <table width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in object_list %}
                <tr>
                    <td>{{categoria.nombre}}</td>
                    <td>
                        {% if categoria.descripcion %}
                            {{categoria.descripcion}}
                        {% else %}
                            No cuenta con Descripción
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'editar_categoria' categoria.id %}">Editar</a>
                        <a href="{% url 'eliminar_categoria' categoria.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">
                        <p>No existen categorías registradas</p>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock contenido %}

